<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

  <table class="table table-hover">
      <thead>
  	<tr>
  		<th><%= t("job.posted") %></th>
  		<th><%= t("job.title") %></th>
  		<th><%= t("job.company_name") %></th>
  		<th><%= t("job.location") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.created_at.to_date %></td>
  			<td><%= link_to job.title, job_path(job) %></td>
  			<td><%= job.company_name %></td>
  			<td><%= job.location %></td>
        <td><%= link_to 'Show', job ,class:'btn btn-default'%></td>
        <td><%= link_to 'Edit', edit_job_path(job) ,class:'btn btn-warning'%></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @jobs ,:theme => 'twitter-bootstrap-3'  %>
<br>

<%= link_to 'New Job', new_job_path ,class:'btn btn-success btn-lg'%>
